*{
    padding:0;
    margin:0;
    font-family:  Helvetica, sans-serif, Arial;
}
.main-container{
    background:rgb(9, 10, 12);
    min-height:100vh;
    height: 100%;
    padding-bottom: 20px;
}
.header-container{
    font-size:4rem;
    text-align: center;
    font-size: 6rem;
    width: 100%;
    overflow: hidden;
    color: #fff;
    text-shadow: 0px 0px 3px #eee, 5px 5px 2px #393E46, -5px -2px 2px #FFD700;
    font-weight: 400;
    transform:skewX(0deg);
    animation:heading 4s ease-in-out 5 alternate;
  }
  @keyframes heading{
    0%,40%, 44%, 58%, 61%, 65%,69%,73%{
        transform:skewX(0deg);
    }
    41%{
    transform:skewX(10deg);
    }
    42%{
    transform:skewX(-10deg);
    }
    59%{
    transform:skewX(40deg) skewY(10deg);
    }
    60%{
    transform:skewX(-40deg) skewY(-10deg);
    }
    63%{
    transform:skewX(10deg) skewY(-5deg);
    }
    70%{
    transform:skewX(-50deg) skewY(-20deg);
    }
    71%{
    transform:skewX(10deg) skewY(-10deg);
    }
  }
.timmer{
    text-align: center;
    font-size: 5rem;
    color:#FFD700;
    font-weight: bold;
}
.less-time-left{
    color:red;
    animation:time 1s infinite;
}
@keyframes time{
    50%{
        transform: scale(0.8);
    }
}
.loader-bar{
    width:90%;
    max-width: 800px;
    margin: auto;
    font-size: 3rem;
    color:#393E46;
    background:rgb(28, 36, 49);
    padding: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 4px 10px rgb(41, 51, 66) ;

}
.score{
    font-size: 3rem;
    color:rgb(126, 131, 139);
}
.score span{
    color:#FFD700;
    font-weight: bold;
}
.loader{
    color:white;
    background:rgb(28, 36, 49);
    width:40px;
    height:40px;
    border-radius: 50px;
    border: 7px solid #f3f3f3;
    border-top: 7px solid #ffd700;
    animation:loader 2s infinite;
}
@keyframes loader{
    100%{
        transform: rotateZ(360deg);
    }
}
.question-card{
    width:90%;
    max-width: 800px;
    margin: auto;
    background:#393E46;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 5px 4px 10px #393E46;
}
.question{
    margin-top:30px;
    justify-content: space-around;
    align-items: center;
    color:#fff;
    font-size:2rem;
}
.options{
    display: flex;
    justify-content: space-around;
    margin:auto auto;
    flex-wrap: wrap;
}
.options button{
    min-width: 300px;
    margin:20px 20px;
    padding:20px;
    background: #ffd700;
    border: 0px ;
    color:#fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 5px 4px 10px #554801;
}
button:disabled{
    cursor: not-allowed;
    background:rgb(221, 243, 242) ;
    color:grey;
    border:2px solid rgb(221, 243, 242);
}
.message{
    width:90%;
    max-width: 800px;
    margin: auto;
    font-size:2rem;
    color:#393E46;
    background:rgb(28, 36, 49);
    padding: 10px;
    text-align: center;
    box-shadow: 5px 4px 10px rgb(41, 51, 66) ;

}
.info{
    color:rgb(126, 131, 139);
}
.error{
    color:red;
}
.success{
    color:green;
}
.last-screen{
    background:#ffd700 ;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation:lastScreen 10s infinite;
}
@keyframes lastScreen{
    50%{
        background: #393E46;
    }
}
.last-screen button{
    width:300px;
    padding:10px;
    color:black;
    font-weight: bold;
    background:#d3d849;
    border:none;
    border-radius: 50px;;
    animation:lastScreenButton 10s infinite;
}

@keyframes lastScreenButton{
    50%{
        filter:invert(1);
    }
}

.game-over{
    font-size:4rem;
    color:red;
    animation:gameOver 10s infinite;
    text-align: center;
}
@keyframes gameOver{
    50%{
        transform: scale(.8);
        filter:invert(1);

    }
}
.final-score{
    text-align:center;
    font-size:2rem;
    color:black;
    margin-top:20px;
    animation:finalScore 10s infinite;
    transition: all 1s ease;
    font-weight: 400;
    font-weight: 800;

}
@keyframes finalScore{
    50%{
        transform: rotateX(100deg);
        filter:invert(1);

    }
}